.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}


.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m1 {
    margin: 5px;
}

.p1 {
    padding: 10px;
}

/* Custom scrollbar styles for Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background:  rgb(34, 34, 34); /* Dark background of the track (scrollbar container) */
}

::-webkit-scrollbar-thumb {
    background-color:  rgb(34, 34, 34); /* Dark color of the thumb (scrollbar handle) */
    border-radius: 1px; /* Rounded corners */
    border: 1px solid  rgb(34, 34, 34); /* Padding around the thumb to add space */
}

::-webkit-scrollbar-thumb:hover {
    background-color:  rgb(34, 34, 34); /* Slightly lighter color on hover */
}

/* Custom scrollbar styles for Firefox */
html {
    scrollbar-width: thin; /* Set scrollbar width to thin */
    scrollbar-color:  rgb(34, 34, 34);  /* Dark color of the thumb and track */
}

/* Custom scrollbar styles for Internet Explorer and Edge */
body {
    -ms-overflow-style: none; /* Hides the default scrollbar */
}
body::-webkit-scrollbar {
    display: none; /* Hides the default scrollbar */
}
